.sprite_redes {
  display: inline-block;
  height: 40px;
  background-image: url("../img/social-media-icons1.jpg");
  background-repeat: no-repeat;
  width: 40px;
  border-radius: 23%;
  background-size: 740%;
  margin: 10% 10% 0 0;
}
.caja_completa {
  width: 100%;
  height: 100%;
}
.nombre_empresa {
  font-family: "letrasLogo";
  text-transform: uppercase;
  color: white;
}
@font-face {
  font-family: "letrasLogo";
  src: url("../font/01 Digitall.ttf");
}
@font-face {
  font-family: "textoWeb";
  src: url("../font/geforce-light.ttf");
}
@font-face {
  font-family: "textoWebBold";
  src: url("../font/geforce-bold.ttf");
}
main {
  max-width: 960px;
  margin: auto;
  font-family: "textoWebBold";
}
header {
  background-color: #0c36cd;
  padding: 2%;
}
#logo {
  vertical-align: top;
  width: 30%;
  height: 50%;
  margin: 1% 0 0 4% ;
  display: inline-block;
}
#marca {
  font-family: "letrasLogo";
  text-transform: uppercase;
  color: white;
  width: 29%;
  font-size: 550%;
  display: inline-block;
}
#marca input {
  width: 100%;
  height: 100%;
  vertical-align: top;
}
.marca_h2 {
  font-size: 60%;
  position: relative;
}
#busqueda {
  width: 100%;
  height: 0.3em;
  position: relative;
  top: 20%;
  margin-top: 20%;
}
#busqueda input {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
#lupa {
  position: absolute;
  width: 9%;
  height: 100%;
  bottom: 160%;
  left: 90%;
}
#lupa img {
  width: 100%;
  height: 100%;
}
#login {
  vertical-align: top;
  display: inline-block;
  background-color: #4e6bd7;
  width: 29%;
  margin: 5% 0 0 4%;
  border-radius: 10%;
}
#login figure {
  width: 90%;
}
#login figure img {
  width: 20%;
  margin: 3% 10%;
  display: inline-block;
}
#login figure figcaption {
  text-align: center;
  display: inline-block;
  font-size: 110%;
}
#login figure figcaption a {
  color: #1da1c0;
  position: relative;
  bottom: 1em;
}
#compras::before {
  content: "";
  background-color: #ffffff;
  width: 95%;
  height: 0.15em;
  margin: 0 auto;
  display: block;
}
nav {
  background-color: #4e6bd7;
  margin: 0 0 2% 0;
}
.menu {
  display: inline-block;
  width: 33.8%;
  text-align: center;
  font-size: 3em;
  background-color: white;
  margin: -4px;
}
.menu a {
  color: #0c36cd;
  display: inline-block;
  width: 100%;
  padding: 5% 0;
}
#banner {
  position: relative;
}
#banner img {
  width: 100%;
}
#banner .absolute {
  position: absolute;
  top: 45%;
  left: 92%;
  width: 7%;
}
#banner .izquierda {
  left: 1%;
  transform: rotate(0.5turn);
}
.producto {
  width: 29%;
  margin: 1.70%;
  border: #4e6bd7 3px solid;
  border-radius: 2%;
  display: inline-block;
  position: relative;
}
.producto img {
  width: 100%;
}
.producto h2 {
  position: absolute;
  left: 0.1%;
  top: 80.8%;
  width: 86.5%;
  background-color: #4e6bd7;
  padding: 20px 10px 0 25px;
  height: 2em;
  border: white 1px solid;
  font-family: "textoWebBold";
  color: white;
  text-transform: uppercase;
}
.producto var {
  position: absolute;
  border-radius: 10px;
  border: white solid 2px;
  background-color: #4e6bd7;
  bottom: 87%;
  left: 62%;
  width: 30%;
  padding: 2%;
  text-align: center;
  color: white;
}
.producto .oferta {
  position: absolute;
  top: 63%;
  left: -7%;
  width: 30%;
  z-index: 1;
}
#paginacion {
  background-color: #0c36cd;
  width: 100%;
  margin: 35px 0 25px 0;
}
#paginacion ul {
  margin: auto;
  width: 32%;
}
#paginacion ul li {
  display: inline-block;
  color: white;
  vertical-align: middle;
  font-family: "textoWebBold";
  width: 18%;
}
#paginacion ul li a {
  display: inline-block;
  color: white;
  font-size: 1.5em;
  margin: 10px;
}
#paginacion ul li img {
  width: 100%;
}
.guiones::after {
  content: "-";
  color: white;
  margin: 60%;
}
.guiones::before {
  content: " ";
}
.gira180 {
  transform: rotate(0.5turn);
  margin-right: 5px;
}
footer {
  background-color: #0c36cd;
}
footer li:first-child {
  margin-bottom: 12%;
  color: #1da1c0;
}
footer ul {
  display: inline-block;
  width: 22%;
  margin: 5.5%;
  font-size: 1.2em;
  color: white;
}
#contacto::before {
  content: "";
  display: block;
  width: 90%;
  height: 3px;
  margin: auto;
  background-color: #1da1c0;
  border: 1px solid #2c6e7d;
  outline: 2px solid #243a83;
}
#contacto {
  width: 100%;
}
#contacto figure {
  display: inline-block;
  width: 22%;
  height: 40%;
  margin: 5.5%;
  font-size: 1.2em;
  color: #1da1c0;
}
.facebook {
  display: inline-block;
  height: 40px;
  background-image: url("../img/social-media-icons1.jpg");
  background-repeat: no-repeat;
  width: 40px;
  border-radius: 23%;
  background-size: 740%;
  margin: 10% 10% 0 0;
  background-position: -29px -14px;
}
.facebook a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.twitter {
  display: inline-block;
  height: 40px;
  background-image: url("../img/social-media-icons1.jpg");
  background-repeat: no-repeat;
  width: 40px;
  border-radius: 23%;
  background-size: 740%;
  margin: 10% 10% 0 0;
  background-position: -128px -14px;
}
.twitter a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.google {
  display: inline-block;
  height: 40px;
  background-image: url("../img/social-media-icons1.jpg");
  background-repeat: no-repeat;
  width: 40px;
  border-radius: 23%;
  background-size: 740%;
  margin: 10% 10% 0 0;
  background-position: -29px -117px;
}
.google a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.marca {
  font-family: "letrasLogo";
  text-transform: uppercase;
  color: white;
  display: inline-block;
  width: 22%;
  margin: 5.5%;
  font-size: 1.2em;
}
.marca h2 {
  font-size: 3em;
}
.marca h3 {
  font-size: 1.8em;
}
.enlaceError {
  color: #0c36cd;
  text-align: center;
  display: block;
  width: 100%;
  font-size: 4em;
  height: 2em;
}