.sprite_redes {
  display: inline-block;
  height: 40px;
  background-image: url("../img/social-media-icons1.jpg");
  background-repeat: no-repeat;
  width: 40px;
  border-radius: 23%;
  background-size: 740%;
  margin: 5% 5% 0 0;
}
.caja_completa {
  width: 100%;
  height: 100%;
}
@font-face {
  font-family: "letrasLogo";
  src: url("../font/01 Digitall.ttf");
}
@font-face {
  font-family: "textoWeb";
  src: url("../font/geforce-light.ttf");
}
@font-face {
  font-family: "textoWebBold";
  src: url("../font/geforce-bold.ttf");
}
body {
  position: relative;
}
main {
  font-family: "textoWebBold";
}
main pre {
  tab-size: 8;
}
main li {
  list-style: none;
  margin: 0 -6px;
}
main header {
  background-color: #0c36cd;
}
main header #logo {
  padding: 3% 0;
  text-align: right;
}
main header #marca {
  font-family: "letrasLogo";
  color: white;
  text-transform: uppercase;
}
.producto {
  padding: 2%;
  display: inline-block;
  position: relative;
}
.producto article:hover {
  border-color: #0c36cd;
  cursor: pointer;
}
.producto article:hover span,
.producto article:hover var {
  background: #0c36cd;
}
.producto article {
  position: relative;
  border: #4e6bd7 3px solid;
  border-radius: 2%;
  width: 250px;
  margin: auto;
  overflow: hidden;
  z-index: 1;
}
.producto img {
  width: 100%;
}
.producto span {
  position: absolute;
  left: 6.9%;
  top: 80.8%;
  width: 86.5%;
  background-color: #4E6BD7;
  padding: 3% 0 0 5%;
  height: 3.3em;
  border: 1px solid #FFF;
  font-family: "textoWebBold";
  color: #FFF;
  text-transform: uppercase;
}
.producto var {
  position: absolute;
  border-radius: 10px;
  border: 2px solid #FFF;
  background-color: #4E6BD7;
  bottom: 79%;
  left: 56%;
  width: 34%;
  padding: 2%;
  text-align: center;
  color: white;
}
.producto .oferta {
  position: relative;
  top: 63%;
  left: -7%;
  width: 30%;
  z-index: 1;
}
.producto .display_hover {
  width: 100%;
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
}
.no_display_xs_up {
  display: inline-block;
}
.display-md {
  display: none;
}
.display-sm {
  display: none;
}
main #descripcion #novedades {
  display: none;
  border-bottom: 5px solid #1da1c0;
  border-radius: 10px;
  margin-top: 2%;
  overflow: hidden;
}
main #descripcion #novedades #boton_carrusel1 {
  margin-left: 46%;
}
main #descripcion #novedades #boton_carrusel1 div {
  cursor: pointer;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: #4e6bd7;
}
main #descripcion #novedades #boton_carrusel2 {
  margin-left: -4%;
  opacity: 0.5;
}
main #descripcion #novedades #boton_carrusel2 div {
  cursor: pointer;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: #4e6bd7;
}
main #descripcion #novedades #carrusel1 {
  position: relative;
  left: 0;
  top: 0;
}
main #descripcion #novedades #carrusel2 {
  position: absolute;
  top: 16%;
  left: 105%;
  width: 102%;
}
main #descripcion #novedades h2 {
  color: #0c36cd;
  text-align: center;
  margin: 1% 0 0 0;
}
main #descripcion #novedades ul .producto:hover .producto {
  opacity: 0.8;
}
main #descripcion #novedades ul .producto:hover {
  opacity: 1;
  border-color: #0c36cd;
}
main #descripcion #novedades ul .producto:hover span {
  color: white;
  background: #0c36cd;
}
main #descripcion #novedades ul .producto {
  cursor: pointer;
}
main #descripcion #novedades ul .producto span {
  width: 100%;
  font-size: 0.8em;
  left: unset;
  top: 0;
  line-height: 2;
  text-align: center;
  color: white;
}
main .display_sm_up {
  display: none;
}
main header #login {
  display: none;
}
main header #logo img {
  width: 80px;
}
main header #marca {
  padding: 3% 0;
}
main header #marca span {
  font-size: 300%;
}
main header #marca span.marca_h2 {
  font-size: 180%;
}
main .nav > li > a {
  display: inline-block;
}
main #nav_main {
  background-image: linear-gradient(to bottom, #869EF9 0%, #4e6bd7 100%);
}
main #nav_main .container {
  background-image: linear-gradient(to bottom, #869EF9 73%, #4E6BD7 100%);
}
main #nav_main .linear_gradient {
  background-image: linear-gradient(to bottom, #869EF9 0%, #4E6BD7 100%);
}
main #nav_main .navbar-header {
  background-image: linear-gradient(to bottom, #869EF9 0%, #4e6bd7 100%);
}
main #nav_main #search {
  margin: 8px 0;
  width: 80%;
}
main #nav_main .navbar-inverse .navbar-nav > .open > a,
main #nav_main .navbar-inverse .navbar-nav > .active > a {
  background-image: none;
  background-color: #0c36cd;
}
main #nav_main .navbar-inverse .ul_down {
  background: #4e6bd7;
}
main #nav_main .navbar-inverse .ul_down li:hover {
  background: #4e6bd7;
}
main #nav_main .navbar-inverse .ul_down li {
  margin-left: 5px;
  padding-left: 5px;
}
main #nav_main .navbar-inverse .ul_down li a:hover {
  color: #1da1c0;
  background: #4e6bd7;
}
main #nav_main .navbar-inverse .ul_down li a {
  text-align: left;
  padding-left: 5px;
  color: white;
}
main #nav_main .side-collapse {
  top: 182px;
  bottom: 0;
  left: 0px;
  width: 200px;
  height: 500px;
  position: absolute;
  overflow: hidden;
  transition: width .4s;
  z-index: 5;
}
main #nav_main .side-collapse li {
  position: relative;
  left: 20px;
  margin: 0 5px 0 0;
  width: 150px;
  text-align: left;
  padding: 1%;
}
main #nav_main .in {
  width: 0;
}
main #nav_main .out {
  left: 200px;
}
main .navbar-inverse {
  background: none;
  background-image: linear-gradient(to bottom, #869EF9 0%, #4e6bd7 100%);
}
main .navbar-inverse .navbar-nav {
  background-image: linear-gradient(to bottom, #869EF9 0%, #4e6bd7 100%);
}
main .navbar-inverse .navbar-nav .display-md {
  display: none;
}
main .navbar-inverse .navbar-nav ul {
  width: 100%;
}
main .navbar-inverse .navbar-nav > li {
  width: 180px;
}
main .navbar-inverse .navbar-toggle:focus,
main .navbar-inverse .navbar-toggle:hover {
  background-color: #0c36cd;
}
main .navbar-inverse .navbar-nav > li:focus,
main .navbar-inverse .navbar-nav > li:hover {
  background: #0c36cd;
}
main .navbar-inverse .navbar-nav > li > a {
  line-height: 0.3;
  color: white;
}
main .navbar-inverse .navbar-nav > li > a:focus,
main .navbar-inverse .navbar-nav > li > a:hover {
  color: #1da1c0;
}
main #button {
  border: 1px solid white;
}
main .navbar-inverse .navbar-toggle {
  border: none;
}
main #search2 {
  display: none;
  float: right;
  width: 35%;
}
main #search2:hover,
main #search2:focus {
  background: #4e6bd7;
}
main #nav_main {
  background-image: linear-gradient(to bottom, #869EF9 0%, #4e6bd7 100%);
}
main #nav_main #componentes.display_sm_up {
  display: none;
}
main #nav_main #perifericos.display_sm_up {
  display: none;
}
main .producto span {
  display: inherit;
  z-index: 4;
  position: relative;
  left: 0%;
  top: 108%;
  width: 244px;
  background-color: #4E6BD7;
  padding: 3% 0 0 5%;
  height: 3.3em;
  border: 0.5% solid #FFF;
  font-family: "textoWebBold";
  color: #FFF;
  text-transform: uppercase;
}
main .producto var {
  left: 45%;
  width: 120px;
}
main .producto .ribbon {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 4;
  overflow: hidden;
  width: 120px;
  height: 120px;
  text-align: right;
}
main .producto .ribbon span {
  font-size: 13px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 29px;
  transform: rotate(-45deg);
  width: 205px;
  display: block;
  background: transparent linear-gradient(#F70505 0%, #8F0808 100%) repeat scroll 0% 0%;
  box-shadow: 0px 3px 10px -5px #000;
  position: absolute;
  top: 34px;
  left: -66px;
}
main .producto .ribbon span span::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 100%;
  z-index: -1;
  border-left: 3px solid #8F0808;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #8F0808;
}
main .producto .ribbon span span::after {
  content: "";
  position: absolute;
  right: 0px;
  top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #8F0808;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #8F0808;
}
main footer {
  background-color: #0c36cd;
  text-align: center;
}
main footer ul:first-child {
  margin-top: 2%;
}
main footer li:first-child {
  color: #1da1c0;
}
main footer ul {
  display: inline-block;
  font-size: 1.2em;
  color: white;
}
main #contacto::before {
  content: "";
  display: block;
  width: 90%;
  height: 3px;
  margin: auto;
  background-color: #1da1c0;
  border: 1px solid #2c6e7d;
  outline: 2px solid #243a83;
}
main #contacto figure {
  display: inline-block;
  font-size: 1.2em;
  color: #1da1c0;
}
main #contacto figure figcaption {
  display: none;
}
main #contacto span {
  font-family: "letrasLogo";
  color: white;
  text-transform: uppercase;
}
main #contacto span:first-child {
  font-size: 2.5em;
  display: block;
}
main #contacto span:last-child {
  margin-top: -2%;
  font-size: 1.5em;
  display: block;
}
main .facebook {
  display: inline-block;
  height: 40px;
  background-image: url("../img/social-media-icons1.jpg");
  background-repeat: no-repeat;
  width: 40px;
  border-radius: 23%;
  background-size: 740%;
  margin: 5% 5% 0 0;
  background-position: -29px -14px;
  margin-left: 4%;
}
main .facebook a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
main .twitter {
  display: inline-block;
  height: 40px;
  background-image: url("../img/social-media-icons1.jpg");
  background-repeat: no-repeat;
  width: 40px;
  border-radius: 23%;
  background-size: 740%;
  margin: 5% 5% 0 0;
  background-position: -128px -14px;
}
main .twitter a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
main .google {
  display: inline-block;
  height: 40px;
  background-image: url("../img/social-media-icons1.jpg");
  background-repeat: no-repeat;
  width: 40px;
  border-radius: 23%;
  background-size: 740%;
  margin: 5% 5% 0 0;
  background-position: -29px -117px;
}
main .google a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
@media (min-width: 768px) {
  .no_display_xs_up {
    display: none;
  }
  .display-md {
    display: none;
  }
  .display_sm_up {
    display: inline-block;
  }
  .display-sm {
    display: inline-block;
  }
  main .no_display_xs_up {
    display: none;
  }
  main header #login {
    display: inline-block;
  }
  main header #login figure {
    background: #4e6bd7;
    border-radius: 10px;
    margin: 27% 0 0 1%;
    padding: 2%;
    width: 55px;
  }
  main header #login figure figcaption {
    display: inline-block;
    width: 100%;
  }
  main header #login figure li {
    display: inline-block;
    width: 100%;
    margin: 8% 2% 0 0;
    line-height: 0.6;
    text-align: center;
  }
  main header #login figure a {
    color: #1da1c0;
  }
  main header #login figure img {
    width: 45px;
    display: inline-block;
    vertical-align: baseline;
  }
  main header #logo img {
    width: 100px;
  }
  main header #marca {
    padding: 2% 0 1% 5%;
  }
  main header #marca span {
    font-size: 450%;
  }
  main header #marca span.marca_h2 {
    font-size: 270%;
  }
  main .navbar-inverse {
    background-image: linear-gradient(to bottom, #869EF9 0%, #4e6bd7 100%);
  }
  main .navbar-inverse .navbar-nav {
    background-image: linear-gradient(to bottom, #869EF9 0%, #4e6bd7 100%);
  }
  main .navbar-inverse .navbar-nav .display-md {
    display: none;
  }
  main .navbar-inverse .navbar-nav li {
    width: 18%;
  }
  main .navbar-inverse .navbar-nav > li:first-child {
    margin-left: 2%;
  }
  main .navbar-inverse .navbar-nav > li:focus,
  main .navbar-inverse .navbar-nav > li:hover {
    background: #0c36cd;
  }
  main .navbar-inverse .navbar-nav > li > a {
    line-height: 0.3;
    color: white;
  }
  main .navbar-inverse .navbar-nav > li > a:focus,
  main .navbar-inverse .navbar-nav > li > a:hover {
    color: #1da1c0;
  }
  main .navbar-inverse .navbar-toggle {
    border: none;
  }
  main #search2:hover,
  main #search2:focus {
    background: #4e6bd7;
  }
  main #nav_main.linear_gradient {
    background-image: linear-gradient(to bottom, #869EF9 0, #4E6BD7 100%);
  }
  main .navbar-inverse .navbar-nav > .open > a,
  main .navbar-inverse .navbar-nav > .active > a {
    background-image: none;
    background-color: #0c36cd;
  }
  main #nav_main {
    background-image: linear-gradient(to bottom, #869EF9 73%, #4E6BD7 100%);
  }
  main #nav_main #componentes.display_sm_up {
    display: inline-block;
  }
  main #nav_main .no_display_xs_up {
    display: none;
  }
  main #nav_main #perifericos.display_sm_up {
    display: inline-block;
  }
  main #nav_main #search2 {
    display: inline-block;
    float: right;
    width: 35%;
  }
  main #nav_main #down_menu {
    width: 340%;
  }
  main #nav_main #down_menu li:hover {
    background: #5575EC;
  }
  main #nav_main #down_menu li {
    display: inline-block;
    width: 28%;
  }
  main #nav_main #down_menu li a:hover {
    background: #5575EC;
  }
  main #nav_main .side-collapse {
    position: static;
    width: 100%;
    overflow: visible;
    height: 55px;
  }
  main #nav_main .side-collapse li {
    margin: 5px;
    width: 120px;
    text-align: center;
    padding: 1%;
  }
  main #nav_main .side-collapse li:last-child {
    width: 35%;
  }
  main .producto span {
    position: absolute;
    left: 0;
    top: 85%;
    width: 100%;
    background-color: #4E6BD7;
    padding: 3% 0 0 5%;
    height: 3.3em;
    border: 1px solid #FFF;
    font-family: "textoWebBold";
    color: #FFF;
    text-transform: uppercase;
  }
  main .producto .ribbon {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 4;
    overflow: hidden;
    width: 120px;
    height: 120px;
    text-align: right;
  }
  main .producto .ribbon span {
    font-size: 13px;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    line-height: 29px;
    transform: rotate(-45deg);
    width: 205px;
    display: block;
    background: transparent linear-gradient(#F70505 0%, #8F0808 100%) repeat scroll 0% 0%;
    box-shadow: 0px 3px 10px -5px #000;
    position: absolute;
    top: 34px;
    left: -66px;
  }
  main .producto article {
    width: 100%;
  }
  main .producto var {
    left: 56%;
    width: 34%;
  }
}
@media (min-width: 992px) {
  .no_display_xs_up {
    display: none;
  }
  .display-md {
    display: inline-block;
  }
  .display-sm {
    display: none;
  }
  main #descripcion #escaparate {
    padding-left: 5%;
  }
  main #descripcion #novedades {
    display: inline-block;
  }
  main header #login figure {
    background: #4e6bd7;
    border-radius: 10px;
    margin: 21% 0 0 1%;
    padding: 2% 1% 2%;
    width: 60%;
  }
  main header #login figure figcaption {
    display: inline-block;
    width: 50%;
  }
  main header #login figure .display-sm {
    display: none;
  }
  main header #login figure li {
    display: inline-block;
    width: 79%;
    margin: 8% 2% 0 0;
    line-height: 1.4;
    text-align: center;
  }
  main header #login figure a {
    color: #1da1c0;
  }
  main header #login figure img {
    width: 45px;
    display: inline-block;
    vertical-align: baseline;
  }
  main header #logo img {
    width: 130px;
  }
  main header #marca {
    padding: 2% 0 1% 6%;
  }
  main header #marca span {
    display: block;
    font-size: 550%;
  }
  main header #marca span.marca_h2 {
    font-size: 330%;
  }
  main .navbar-inverse {
    background-color: none;
    background-image: linear-gradient(to bottom, #869EF9 0%, #4e6bd7 100%);
  }
  main .navbar-inverse .navbar-nav {
    background-image: linear-gradient(to bottom, #869EF9 0%, #4e6bd7 100%);
  }
  main .navbar-inverse .navbar-nav .display-md {
    display: inline-block;
  }
  main .navbar-inverse .navbar-nav > li:first-child {
    margin-left: 2%;
  }
  main .navbar-inverse .navbar-nav > li:focus,
  main .navbar-inverse .navbar-nav > li:hover {
    background: #0c36cd;
  }
  main .navbar-inverse .navbar-nav > li > a {
    line-height: 0.3;
    color: white;
  }
  main .navbar-inverse .navbar-nav > li > a:focus,
  main .navbar-inverse .navbar-nav > li > a:hover {
    color: #1da1c0;
  }
  main .navbar-inverse .navbar-toggle {
    border: none;
  }
  main #nav_main {
    font-size: 1.3em;
    background-image: linear-gradient(to bottom, #869EF9 73%, #4e6bd7 100%);
  }
  main #nav_main #search2 {
    width: 22%;
    margin-right: 2%;
  }
  main #nav_main .navbar-inverse .navbar-nav li {
    width: 16%;
  }
  main #nav_main .side-collapse {
    height: 65px;
  }
  main #nav_main #search2 {
    float: right;
    width: 28%;
  }
  main #search2:hover,
  main #search2:focus {
    background: #4e6bd7;
  }
  main .producto span {
    position: absolute;
    left: 0;
    top: 81.2%;
    width: 100%;
    background-color: #4E6BD7;
    padding: 3% 0 0 5%;
    height: 3.3em;
    border: 1px solid #FFF;
    font-family: "textoWebBold";
    color: #FFF;
    text-transform: uppercase;
  }
  main .producto .ribbon {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 4;
    overflow: hidden;
    width: 120px;
    height: 120px;
    text-align: right;
  }
  main .producto .ribbon span {
    font-size: 13px;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    line-height: 29px;
    transform: rotate(-45deg);
    width: 205px;
    display: block;
    background: transparent linear-gradient(#F70505 0%, #8F0808 100%) repeat scroll 0% 0%;
    box-shadow: 0px 3px 10px -5px #000;
    position: absolute;
    top: 34px;
    left: -66px;
  }
  main footer ul {
    margin: 2% 0;
  }
  main footer #contacto figure figcaption {
    display: block;
    margin-top: 5%;
  }
  main footer #contacto span:first-child {
    font-size: 4em;
  }
  main footer #contacto span:last-child {
    font-size: 2.5em;
  }
}
@media (min-width: 1200px) {
  .no_display_xs_up {
    display: none;
  }
  .display-md {
    display: inline-block;
  }
  .display-sm {
    display: none;
  }
  main header {
    font-size: 1.3em;
  }
  main header #login figure {
    background: #4e6bd7;
    border-radius: 10px;
    margin: 21% 0 0 1%;
    padding: 2% 1% 2%;
    width: 60%;
  }
  main header #login figure figcaption {
    display: inline-block;
    width: 50%;
  }
  main header #login figure .display-sm {
    display: none;
  }
  main header #login figure li {
    display: inline-block;
    width: 79%;
    margin: 8% 2% 0 0;
    line-height: 1.4;
    text-align: center;
  }
  main header #login figure a {
    color: #1da1c0;
  }
  main header #login figure img {
    width: 45px;
    display: inline-block;
    vertical-align: baseline;
  }
  main header #logo img {
    width: 130px;
  }
  main header #marca {
    padding: 2% 0 1% 6%;
  }
  main header #marca span {
    display: block;
    font-size: 550%;
  }
  main header #marca span.marca_h2 {
    font-size: 330%;
  }
  main .navbar-inverse {
    background-color: none;
    background-image: linear-gradient(to bottom, #869EF9 0%, #4e6bd7 100%);
  }
  main .navbar-inverse .navbar-nav {
    background-image: linear-gradient(to bottom, #869EF9 0%, #4e6bd7 100%);
  }
  main .navbar-inverse .navbar-nav > li:first-child {
    margin-left: 2%;
  }
  main .navbar-inverse .navbar-nav > li:focus,
  main .navbar-inverse .navbar-nav > li:hover {
    background: #0c36cd;
  }
  main .navbar-inverse .navbar-nav > li > a {
    line-height: 0.3;
    color: white;
  }
  main .navbar-inverse .navbar-nav > li > a:focus,
  main .navbar-inverse .navbar-nav > li > a:hover {
    color: #1da1c0;
  }
  main .navbar-inverse .navbar-toggle {
    border: none;
  }
  main #search2:hover,
  main #search2:focus {
    background: #4e6bd7;
  }
  main #nav_main {
    font-size: 1.4em;
    background-image: linear-gradient(to bottom, #869EF9 73%, #4e6bd7 100%);
  }
  main #nav_main #drop_menu li a {
    font-size: 1.3em;
  }
  main #nav_main .navbar-inverse .navbar-nav li {
    width: 16%;
  }
  main #nav_main .side-collapse {
    height: 70px;
  }
  main #nav_main #search2 {
    float: right;
    width: 28%;
  }
  main .producto span {
    position: absolute;
    left: 0%;
    top: 84.8%;
    width: 100%;
    background-color: #4E6BD7;
    padding: 3% 0 0 5%;
    height: 3.3em;
    border: 1px solid #FFF;
    font-family: "textoWebBold";
    color: #FFF;
    text-transform: uppercase;
  }
  main .producto .ribbon {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 4;
    overflow: hidden;
    width: 120px;
    height: 120px;
    text-align: right;
  }
  main .producto .ribbon span {
    font-size: 13px;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    line-height: 29px;
    transform: rotate(-45deg);
    width: 205px;
    display: block;
    background: transparent linear-gradient(#F70505 0%, #8F0808 100%) repeat scroll 0% 0%;
    box-shadow: 0px 3px 10px -5px #000;
    position: absolute;
    top: 34px;
    left: -66px;
  }
}
.flip-container {
  perspective: 1000;
  transform-style: preserve-3d;
  transform: perspective(1000px);
}
/* preserve-3d: Indicamos que todo elemento hijo del div flipper estara en un espacio 3D XYZ  */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  width: 100$;
}
.front,
.back {
  /* Backface: Nos permite ocultar la parte posterior de los elementos html */
  /* en este caso FRONT - BACK */
  backface-visibility: hidden;
  transition: 1s;
  transform-style: preserve-3d;
  top: 0;
  left: 0;
}
.front {
  transform: rotateY(0deg);
  background: #bcea67;
}
.back {
  transform: rotateY(-180deg);
  background: #ffdd54;
}
.flip-container:hover .front {
  transform: rotateY(180deg);
}
.flip-container:hover .back {
  transform: rotateY(0deg);
}
